<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    {{>navbar}}
<img src="image/wcome1.jpg" width="1000vh" height="430vh">

<div class="container pt-3">
<h1 class="text-center"> About</h1>
<hr class="w-25 mx-auto text-danger"/>

<div class="row mb-3 pt-5">
<div class="col-lg-6 col-md-6 col-12">
<img src="image/services.png" class="img-fluid"/>
</div>

<div class="col-lg-6 col-md-6 col-12 mt-5 ">
<p class="test">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam perspiciatis quo suscipit incidunt nulla nobis mollitia esse reiciendis in. Fugiat deleniti omnis tempora cumque odio recusandae qui corporis explicabo quis?</p>
<button class="btn btn-primary">click</button>
</div>

</div>

<h1 class="text-center pt-5">Services</h1>
<hr class="w-25 mx-auto text-danger"/>

<div class="row pt-3">
<div class="col-lg-6 col-md-6 col-12">
<p class="test">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate totam libero temporibus dolor facilis commodi voluptatem iste ipsam laudantium neque assumenda nihil cupiditate velit delectus, adipisci sequi magni similique veritatis.</p>
<button class="btn btn-primary">click</button>
</div>

<div class="col-lg-6 col-md-6 col-12 ">
<img src="image/about.png" class="img-fluid"/>

</div>

</div>

<h1 class="text-center pt-5">Gallery</h1>
<hr class="w-25 mx-auto text-danger"/>

<div class="row pt-3">
<div class="col-lg-4 col-md-4 col-12">
<img src="image/team.jpg" class="img-fluid"/>
</div>

<div class="col-lg-4 col-md-4 col-12 ">
<img src="image/metting.jpg" class="img-fluid"/>

</div>
<div class="col-lg-4 col-md-4 col-12 ">
<img src="image/services.png" class="img-fluid"/>

</div>

</div>
<div class="row pt-3">
<div class="col-lg-4 col-md-4 col-12">
<img src="image/company.png" class="img-fluid"/>
</div>

<div class="col-lg-4 col-md-4 col-12 ">
<img src="image/cofy.jpg" class="img-fluid"/>

</div>
<div class="col-lg-4 col-md-4 col-12 ">
<img src="image/comiti.png" class="img-fluid"/>

</div>

</div>
<div class="row pt-3 mb-3">
<div class="col-lg-4 col-md-4 col-12">
<img src="image/learning.png" class="img-fluid"/>
</div>

<div class="col-lg-4 col-md-4 col-12 ">
<img src="image/machine.png" class="img-fluid"/>

</div>
<div class="col-lg-4 col-md-4 col-12 ">
<img src="image/team.jpg" class="img-fluid"/>

</div>

</div>



</div>    
<section class="bg-primary text-center text-white">
<h5>Rahul Sharma</h5>
<p>contact :-9630169487</p>
<p>email :- rkumar45650@gamil.com</p>

</section>
<footer class="pt-1">

<p class="text-center bg-dark text-white">@Copyright Backend 2022</p>

</footer>

</body>
</html>