<!DOCTYPE html>
<html lang="en">
<head>
 {{>header}} 
</head>


<body>
  {{>navbar}}

  
  <div class="container bg-success my-5">
<h3 class="text-center mb-5 pt-3 text-light ">Create your account</h3>


  <form action="/register" method="POST">
  <div class="form-row" >
    <div class="form-group col-md-6">
      <input type="text" class="form-control" placeholder="First Name" value="" name="firstname">
    </div>
    <div class="form-group col-md-6">
      <input type="text" class="form-control" placeholder="Last Name" value="" name="lastname">
    </div>
    <div class="form-group col-md-6">
      <input type="email" class="form-control" placeholder="email" value="" name="email">
    </div>
    <div class="form-group col-md-6">
      <input type="text" class="form-control" placeholder="age" value="" name="age">
    </div>
  </div>
   <div class="form-row">
  <div class="form-group col-md-6">
    <input type="text" minlength="10" maxlength="10" class="form-control"  name="phone" value="" placeholder="phone number">
  </div>

  <div class="form-group col-md-6 ">
      <input type="password" class="form-control" placeholder="password" value="" name="password">
    </div>

     <div class="form-group col-md-6 ">
  <div class="maxl">
 <label class="radio inline">
  <input type="radio" name="gender" value="male" checked>
  <span>Male</span>
 </label>
 <label class="radio inline">
  <input type="radio" name="gender" value="female" checked>
  <span>Female</span>
 </label>
  </div>
     </div>
    <div class="form-group col-md-6">
      <input type="password" class="form-control" placeholder="confirm password" value="" name="cpassword">

</div>
<button type="submit" value="submit" class="btn btn-warning ml-auto">Create</button>
    </div>
    <h5 class="text-light">Do you have an account please login</h5>
    <br/>
    </div>
    
</div>    
</form>
</div>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>




  
</body>
</html>